<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>GIF 채팅방</title>
  </head>
  <body>
    <div>F12를 눌러 console 탭과 network 탭을 확인하세요.</div>
    <script>
      const webSocket = new WebSocket("ws://localhost:8005"); //어떻게 require 없이 websocket 클래스를 불러올 수 있는가?
      //프로토콜 : ws
      webSocket.onopen = function () {
        // open은 원래 내장되어있는 이벤트
        console.log("서버와 웹소켓 연결 성공!");
      }; //서버와 연결
      webSocket.onmessage = function (event) {
        // 서버의 message 이벤트에 대응
        console.log(event.data);
        console.log(event);
        console.log("-----");
        webSocket.send("클라이언트에서 서버로 답장을 보냅니다");
      };
    </script>
  </body>
</html>
